<div class="container">
    <mat-card *ngIf="formConfig !== null" style="width: 75%; overflow:auto" >
        <form (ngSubmit)="submitForm()" [formGroup]="form">
        <mat-card-header>
            <mat-card-title>
                {{formConfig.title}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <div *ngFor="let formElement of formConfig.elements" [formGroup]="form" [ngSwitch]="formElement.type">
                    <mat-form-field *ngSwitchCase="'text-input'" style="width:100%">
                        <mat-label>{{formElement.config.label}}</mat-label>
                        <input matInput type="text" [id]="formElement.config.key" [formControlName]="formElement.config.key">
                    </mat-form-field>       
                    <mat-form-field *ngSwitchCase="'dropdown'" style="width:100%">
                        <mat-label>{{formElement.config.label}}</mat-label>
                        <mat-select [id]="formElement.config.key" [formControlName]="formElement.config.key">
                            <mat-option *ngFor="let item of formElement.config.items" [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>  
                    <div *ngSwitchCase="'multi-checkbox'">
                        <ul style="  list-style-type: none;">
                            <li *ngFor="let item of formElement.config.items">
                                <mat-checkbox>{{item}}</mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-footer style="padding: 2em; display: flex; justify-content: flex-end;">
                <button mat-raised-button color="accent" (click)="returnToEdit()">
                    Return to Edit
                 </button>
                <button mat-raised-button color="primary" type="submit" style="margin-left: 2em">
                    Submit
                 </button>
                            </mat-card-footer>
        </form>
    </mat-card>
</div>